<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Es una ConnectionString" />
		<add key="LogDir" value="C:\Temp\Log" />
		<add key="EnableLog" value="True" />
	</appSettings>
</configuration>